
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}


header {
    background-color: #0056d6;
    padding: 25px;
    text-align: center;
    color: white;
}

.empresa {
    font-size: 48px;
    margin: 0;
    font-weight: bold;
}

.titulo {
    margin: 10px 0 0;
    font-size: 26px;
}

.lista-container {
    margin: 40px auto;
    width: 80%;
    max-width: 700px;
}

.lista-pedidos {
    list-style: none;
    padding: 0;
}

.pedido {
    padding: 18px;
    margin: 12px 0;
    border-radius: 8px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pendente {
    background-color: #ffdddd;
    border-left: 8px solid #ff3b3b;
}

.pendente span {
    color: #c40000;
    font-weight: bold;
}

.pronto {
    background-color: #ddffe3;
    border-left: 8px solid #14a81a;
}

.pronto span {
    color: #0b7d11;
    font-weight: bold;
}


footer {
    margin-top: 40px;
    padding: 15px;
    text-align: center;
    background-color: #ececec;
    font-size: 14px;
    color: #555;
}
